# Problem Statement

 The insurance approval process, i.e., underwriting is one of the important and time-consuming tasks in an insurance application processing. When you submit your insurance application, the underwriter of the company evaluates it based on the details that you provide using a rule-based or an ML model and decides whether or not to approve your application. An insurance company InsurePlus wants you to help them with finding the optimal number of staff that they need for their insurance application approval process for the calendar year 2021. In the industry, the number of staffs is considered as a continuous variable. This is also called a staff Full-Time Equivalent. For example, if a full-time employee (FTE =1) works for 50 hours a week, 10 hours corresponds to 0.2 FTEs.

- The company operates in three states A, B, and C.
- The company can either handle an application with the staff that they hire or outsource it to a vendor. (Assume that there is no capacity limitation to outsourcing.)
- If they hire staff, he/she can handle 40 insurance applications per month when he/she works 100% of the workdays. However, there are days that he/she will be unavailable to process applications due to training, off days, etc.
- A staff member’s availability (in percentage) to work on processing the insurance applications for each month is shown in the table given below. As mentioned before, with 100% availability, each member can handle 40 applications.

A special note of practical relevance: In the industry, staff availability is predicted using a time-motion study. But in this case, you have been given fixed numbers for each month. States A and B have a regulatory restriction that the outsourced insurance applications cannot be more than 30% and 40% of the total number of applications for each month, respectively. The objective is to optimise the total cost for the application approval process by distributing the right number of applications between the FTEs and the vendors while meeting the monthly demand for each state at the same time.

## Importing the libraries and reading the dataset

In [1]:
# Importing Libraries 

import pandas as pd
import numpy as np
import math
from pyomo.environ import *

In [2]:
from __future__ import division
from pyomo.opt import SolverFactory

In [3]:
# Reading the data from Excel workbook - Staffing.xlsx

InputData = 'Staffing+Data.xlsx'

#Read the data from Demand Data sheet
Demand = pd.read_excel(InputData,sheet_name='DemandData')

#Read the data from Staff Availability sheet
Availability = pd.read_excel (InputData,sheet_name='StaffAvailability')

#Read the data from Cost sheet
Cost = pd.read_excel (InputData,sheet_name='Cost')

#Max Applications Handled by FTE per month
Max_Application_permonth = 40

In [9]:
#Printing the dataframe Demand

Demand.head()

  State Month  Demand
0     A   Jan    5240
1     A   Feb    4878
2     A   Mar    5942
3     A   Apr    2297
4     A   May    1992

In [10]:
#Printing the dataframe Availability

Availability.head()

  State Month    LB    UB  StaffAvPer
0     A   Jan  0.70  0.90        0.81
1     A   Feb  0.65  0.85        0.76
2     A   Mar  0.70  0.80        0.75
3     A   Apr  0.75  0.85        0.80
4     A   May  0.70  0.85        0.78

In [11]:
#Printing the dataframe Cost

Cost.head()

  State Month  AnnualSalary  MonthlySalary  UnitOutSourceCost
0     A   Jan         60000         5000.0                180
1     A   Feb         60000         5000.0                180
2     A   Mar         60000         5000.0                180
3     A   Apr         60000         5000.0                180
4     A   May         60000         5000.0                180

In [13]:
# Consolidating the three dataframes into single dataframe for further analysis

data=pd.merge(Demand,Availability ,on=['State','Month'])
Staff=pd.merge(data,Cost, on = ['State','Month'])
Staff.head()

,State,Month,Demand,LB,UB,StaffAvPer,AnnualSalary,MonthlySalary,UnitOutSourceCost
0,A,Jan,5240,0.70,0.90,0.81,60000,5000.0,180
1,A,Feb,4878,0.65,0.85,0.76,60000,5000.0,180
2,A,Mar,5942,0.70,0.80,0.75,60000,5000.0,180
3,A,Apr,2297,0.75,0.85,0.80,60000,5000.0,180
4,A,May,1992,0.70,0.85,0.78,60000,5000.0,180

## Data pre-processing

In [ ]:
# Create the required Python data structures for indexes and parameters

# Question 1

The company wants to know the optimised staffing recommendations for the business case described. 
Write the mathematical model for the deterministic optimisation problem. Define and explain your decision variables, objective function and the constraint. (Hint: Use months of the year as the model timeline).

##  Mathematical formulation / Pyomo components

---

**Sets:** 

The indexes for the given problem are, <br>
- Marital status, $m \in marital\_status$
- Degree status, $d \in degree$

---

**Parameters:** 

- $\text{duration_nconverted}_{m,d} \text{ - Avg. call duration for non-converted calls}$ <br>
- $\text{duration_converted}_{m,d} \text{ - Avg. call duration for converted calls}$ <br>
- $\text{conv_rate}_{m,d} \text{ - Conversion rate}$ <br>
- $\text{min_tcalls}_{m | d} \text{ - Minimum no. of calls by either marital status / degree}$ <br>
- $\text{min_ccalls}_{m | d} \text{ - Minimum no. of converted calls by either marital status / degree}$ <br>


---

**Decision variables:**
- Total number of  calls (converted + non-converted) to be made for each customer segment <br>

> ${total\_calls}_{m,d} \,\,\,\,\,\,\, \text{where} \ m \in marital\_status, d \in degree $<br>


---

**Objective:** <br>

To maximize conversions for each combination of marital status and degree



\begin{align}
\textrm{max} \sum \limits _{m,d} \text{total_calls}_{m,d}* \text{conv_rate}_{m,d}
\end{align}
where $m \in marital\_status$ and $d \in degree$

---

**Constraints:**



*   At-least 50 customers need to be contacted from each segment


>- $\text{total_calls}_{m,d}\geq\text{50}\ \ \ \ \forall {d \in degree, m \in marital\_status}$


*   Minimum number of total calls for each marital status


>- $\sum \limits _{d} \text{total_calls}_{m,d} \geq\text{min_tcalls}_{m}$


*   Minimum number of total calls for each degree


>- $\sum \limits _{m} \text{total_calls}_{m,d} \geq\text{min_tcalls}_{d}$


*   Minimum number of converted calls for each marital status


>- $\sum \limits _{d} (\text{total_calls}_{m,d}* \text{conv_rate}_{m,d})  \geq\text{min_tcalls}_{m}$


*   Minimum number of converted calls for each degree


>- $\sum \limits _{m} (\text{total_calls}_{m,d}* \text{conv_rate}_{m,d})  \geq\text{min_tcalls}_{d}$


*   Budget Constraint

\begin{align}
\sum \limits _{m,d} \Bigg[\text{total_calls}_{m,d}* \text{conv_rate}_{m,d}* \frac{\text{duration_converted}_{m,d}}{60}* \text{cost_per_min}\Bigg] & +\Bigg[\text{total_calls}_{m,d}* \text{(1- conv_rate}_{m,d})* \frac{\text{duration_nconverted}_{m,d}}{60}* \text{cost_per_min}\Bigg]  \leq\text{total_budget}
\end{align}

----

**Note:** You can write the mathematical formulation directly in your report.

# Question 2

Code the problem is Python and use any optimization package to solve it. Add comments to your code to explain each step.

#### Expected output:

Create a data frame containing the number of outsourced applications  and the number of FTEs for each state-month combination. You can choose to have extra columns like staff availability, demand etc. in your dataframe apart from the ones mentioned earlier.

In [ ]:
# Creating a model instance

In [ ]:
# Define Pyomo sets and Parameters

In [ ]:
# Decision variables

In [ ]:
# Constraints

In [ ]:
# Objective function

In [ ]:
# Invoking the solver

In [ ]:
# Print the value of the objective function

**`Checkpoint 1:`** Seems like the company has to spend around 17.9 m$ in total for the application approval process.

In [ ]:
# Creating dataframe for the results

In [ ]:
# Writing the results in to an Excel sheet

# Question 3

#### Worst-case and best-case analysis based on the staffs' availability.

Assuming that the distribution is the same across all the states,

#### 3.1 Worst case analysis 

- 3.1.1 What is the optimal number of staff members for the worst case? 

- 3.1.2 What is the percentage of outsourcing for the worst case? 

- 3.1.3 What is the average cost per application for the worst case?


#### 3.2 Best case analysis 

- 3.2.1 What is the optimal number of staff members for the best case? 

- 3.2.2 What is the percentage of outsourcing for the best case? 

- 3.2.3 What is the average cost per application for the best case?

#### Expected output:

For each of the subtasks (3.1 and 3.2) create a data frame containing the number of outsourced applications and the number of FTEs for each state-month combination. You can choose to have extra columns like staff availability, demand etc. in your dataframe apart from the ones mentioned earlier. Also, print the overall average percentage of outsourced applications and the overall average cost per application.

### 3.1 Worst Case Analysis

#### 3.1.1 Optimal number of staff members

In [ ]:
# Creating a model instance

In [ ]:
# Define Pyomo sets and Parameters

In [ ]:
# Decision variables

In [ ]:
# Constraints

In [ ]:
# Objective function

In [ ]:
# Invoking the solver

In [ ]:
# Print the value of the objective function

**`Checkpoint 2:`** The company has to spend around 19.6 m$ in total for the application approval process if the staffs are working with the minimum availability.

In [ ]:
# Creating dataframe for the results

#### 3.1.2 Percentage of outsourced applications

In [ ]:
# write your code here

#### 3.1.3 Average cost per application

In [ ]:
# write your code here

### 3.2  Best Case Analysis

#### 3.2.1 Optimal number of staff members

In [ ]:
# Creating a model instance

In [ ]:
# Define Pyomo sets and Parameters

In [ ]:
# Decision variables

In [ ]:
# Constraints

In [ ]:
# Objective function

In [ ]:
# Invoking the solver

In [ ]:
# Print the value of the objective function

**`Checkpoint 3:`** The company has to spend around 16.5 m$ in total for the application approval process if the staffs are working with the maximum availability.

In [ ]:
# Creating dataframe for the results

#### 3.2.2 Percentage of outsourced applications

In [ ]:
# write your code here

#### 3.2.3 Average cost per application

In [ ]:
# write your code here

# Question 4

#### Creating Visualisations

Create the following visualisations using your preferred method (i.e. Python, PowerPoint, Power BI, etc.) and add it to your report. 

Use the solution of Q2 to create a stacked column chart that shows the percentage of applications processed by the staff and by the vendor for each month (%staff processed applications+ %vendor processed applications should add up to 100%). 
Create a graph to show how the cost per application increases with respect to any change in the parameters in your analysis.
Hint: Use the cost per application that you calculate in Questions 2 and 3 (i.e., the best case, and the worst case).

**Note:** You can create the charts in Python or some other visualisation tools and make it a part of your final report directly.